.section_3{
    width: 100%;
    background-color: rgba(249,250,251);
}
.group_3{
    width: 1200px;
    margin: auto;
}
.hot_news{
    margin: auto;
    text-align: center;
    font-size: 26px;
}
.relative_news{
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0px;
}
.news{
    width: 580px;
    padding-right: 20px;
}
.news .title a{
    font-size: 22px;
    text-decoration: none;
    color: rgb(58, 57, 57);
}
.news .title a:hover{
    color: red;
}
.news .date{
    font-size: 15px;
    font-weight: 500;
    color: rgb(147, 146, 146);
}
.more_news{
    display: flex;
    justify-content: center;
}
.more_news a{
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 5px;
    margin: 50px;
}
.more_news a:hover{
    background-color: rgb(164, 63, 63);
}
.section_3 img{
    width: 100%;
    display: block;
}